* {
margin: 0;
padding: 0;
}
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	border:0;
	padding: 0;
	font-family: helvetica;
}

h1 {
	position: absolute;
	display: block;
	top: 50%;
	left: 7%;
	font-size: 12vh;
	transform: translate(0,-50%);
	margin:0;
	border:0;
	padding:0;
	pointer-events: none;
}
canvas {
	margin:0;
	border:0;
	padding: 0;
}

#canvas-wrapper {
	position: relative;
	z-index: 0;
}

#menu {
	display: block;
	position: fixed;
	width: 20%;
	height: 100%;
	right: 0;
	background-color: rgba(255, 255, 255, 0.9);
	z-index:2;
}

.menu-item {
	position: relative;
	width: 8vh;
	height: 8vh;
	top: 66%;
	padding: 2.7vh;
	margin:auto;
}
/* 60px = 8vh */
/*
.menu-item {
	position: relative;
	width: 60px;
	height: 60px;
	top: 66%;
	padding: 20px;
	margin:auto;
}
*/
.menu-item span {
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-size: 1.6vh;
	line-height: 2vh;
}
/*
.menu-item span {
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-size: 12px;
	line-height: 15px;
}
*/
#so-true,
#nah {
	cursor: pointer;
}
#nah {
	opacity: 0.3;
}
#cursor {
  display: block;
  position: absolute;
  margin-top: -40px;
  margin-left: -40px;
  width: 10.6vh;
  height: 10.6vh;
  pointer-events: none;
  text-align: center;
  border: 0.26vh solid rgba(255,255,255,0.3);
  border-radius: 50%;
  pointer-events: none;
  z-index: 3;
}
/*
#cursor {
  display: block;
  position: absolute;
  margin-top: -40px;
  margin-left: -40px;
  width: 80px;
  height: 80px;
  pointer-events: none;
  text-align: center;
  border: 2px solid rgba(255,255,255,0.3);
  border-radius: 50%;
  pointer-events: none;
}
*/
#cursor span {
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-size: 1.6vh;
	line-height: 2vh;
}
/*
#cursor span {
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-size: 12px;
	line-height: 15px;
}
*/
#cursor-circle {
  display: block;
  position: relative;
  margin: auto;
  margin-top: 1.3vh;
  width: 8vh;
  height: 8vh;
  background-color: rgba(255,255,255,0.9);
  border-radius: 50%;
  box-shadow: 0px 0px 10px 4px rgba(255,255,255,1);
}

.circle {
	display: block;
	position: relative;
	width: 8vh;
	height: 8vh;
	border: 0.13vh solid black;
	border-radius: 50%;
}

#true-circle,
#nah-circle {
	background-color: white;
	box-shadow: 0.4vh 0.4vh;
}

@media only screen and (orientation: portrait) {
	#menu {
		display: block;
		position: fixed;
		width: 100%;
		height: 20%;
		bottom: 0;
		margin: 0;
		border: 0;
		background-color: rgba(255, 255, 255, 0.9);
		z-index:2;
	}	

	.menu-item {
		position: relative;
		top: 15%;
		width: 8vh;
		height: 8vh;
		padding: 2vh;
	}
	.menu-item span {
		display: block;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		font-size: 1.6vh;
		line-height: 2vh;
	}
	#so-true,
	#nah {
		cursor: pointer;
	}
	#so-true{
		float: left;
		left: 20%;
	}
	#nah {
		float: right;
		right: 20%;
		opacity: 0.3;
	}
	#cursor {
		display: hidden;
	}
}